<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548791349568-1sdc426l8lsfc4s0l7b1frru9ri15srv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548791349568-1sdc426l8lsfc4s0l7b1frru9ri15srv</string>
	<key>API_KEY</key>
	<string>AIzaSyC0nsuzspezpXdAmWMG7VO1wR2O3CwCc3c</string>
	<key>GCM_SENDER_ID</key>
	<string>548791349568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yasir.icebreak1</string>
	<key>PROJECT_ID</key>
	<string>ice-breaker-8963e</string>
	<key>STORAGE_BUCKET</key>
	<string>ice-breaker-8963e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548791349568:ios:69b56f42665464bee10aa5</string>
	<key>DATABASE_URL</key>
	<string>https://ice-breaker-8963e.firebaseio.com</string>
</dict>
</plist>